<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead"> <h1> MalCamp </h1> </p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="image-responsive" src="<%= animal.image %>">
				<div class="captain caption-full">
					<h4 class="pull-right">$20.00/day</h4>
					<h4><a><%=animal.name%></a></h4>
					<p><%= animal.description %></p>
					<p><em>Submitted by <%= animal.author.username %></em></p>
					<% if (animal.author && user && animal.author.id == user.id) {%>
					<a class="btn pink" href="/animals/<%= animal._id %>/edit">Edit</a>
					<form class="inline" action="/animals/<%= animal._id %>?_method=DELETE" method="POST">
						<button class="btn purple" >Delete</button>
					</form>
					<% }%>
				</div>
			</div>
			<br>

			<div class="well">
				<div class="text-right">
					<a class="btn blue" href="/animals/<%= animal._id %>/comments/new">Add New Comment</a>
				</div>
				<hr>
				<% animal.comments.forEach(function(comment){ %>
				<div class="row">
					<div class="col-md-12">
						<strong><%= comment.author.username %></strong>
						<span class="pull-right">5 days ago</span>
						<p><%= comment.text %></p>
						<% if (comment.author && user && comment.author.id == user.id) {%>
						<a class="btn btn-xs pink" href="/animals/<%= animal._id %>/comments/<%=comment._id%>/edit">Edit</a>
						<form class="inline" action="/animals/<%= animal._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
							<button class="btn btn-xs purple" >Delete</button>
						</form>
						<% }%>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>

