<% include partials/header %>

<img style="width:100%; height:auto;" src="https://previews.123rf.com/images/elnur/elnur1205/elnur120500136/13523043-Man-shouting-and-yelling-with-loudspeaker-Stock-Photo-megaphone-man-speaker.jpg" >

<% include partials/header %>
   <div class="ui main text container">
   	<div class="ui huge header">RantLand
   	</div>
    <div class="ui top attached segment">
<div class="ui divided items">
	<% rants.forEach(function(rant){ %>
	 <div class="item">
	    <div class="image">
	      <img src="<%= rant.image %>">
	    </div>
	    <div class="content">
	      <a class="header"><%= rant.title %></a>
	      <div class="meta">
	        <span class="cinema"><%= rant.created.toDateString() %></span>
	      </div>
	      <div class="description">
	        <p><%= rant.body.substring(0,200); %></p>
	      </div>
	      <div class="extra">
	        <a href="/rants/<%=rant._id %>" class="ui floated basic blue button">
	          Read More
	          <i class="right chevron icon"></i>
	        </a>
	      </div>
	    </div>
	  </div>
	<% }); %>
</div>
</div>
    
  </div>
<% include partials/footer %>
